.name {
    @media (max-width:355px) {
        font-size: 14px;
    }
}
.description {
    @media (max-width:355px) {
        font-size: 14px;
        width: 70px;
    }
}
.date {
    @media (max-width:355px) {
        font-size: 14px;
    }
}
.title {
    @media (max-width:355px) {
        font-size: 14px;
    }
}
.Menu {
    @media (max-width:355px) {
        top: -30px;
        svg {
        width:25px;
        height: 20px;
        }
    }
}
.Back {
    @media (max-width:355px) {
        top: -30px;
     svg {
        width: 17px;
        height: 17px;
     }
    } 
}