.name {
    @media (max-width:355px) {
        font-size: 14px;
    }
}
.description {
    @media (max-width:355px) {
        font-size: 14px;
        width: 70px;
    }
}
.date {
    @media (max-width:355px) {
        font-size: 14px;
    }
}
.title {
    @media (max-width:355px) {
        font-size: 14px;
    }
}